<div class="container">
  <h1>MY TASKS</h1>
</div>

<% @tasks.each do |task|  %>
  <div class="container">
    <% if task.completed %>
      <%= image_tag "https://img.icons8.com/ios/50/000000/checked-checkbox-filled.png" %>
    <% else  %>
      <%= image_tag "https://img.icons8.com/ios/50/000000/unchecked-checkbox-filled.png"  %>
    <% end %>
      <%= link_to task.title, task_path(task) %>

      <%= link_to task_path(task.id), method: :delete, data: { confirm: "Are you sure?"} do %>
        <i class="fa fa-trash"></i>
      <% end %>
  </div>
<% end %>

<div class="container">
  <%= link_to "Create a task", new_path  %>
</div>



