<div class="container">
  <h1><%= @task.title  %></h1>
</div>
<div class="container">
  <h2><%= @task.details  %></h2>
</div>
<div class="container">
    <% if @task.completed %>
      <%= image_tag "https://img.icons8.com/ios/50/000000/checked-checkbox-filled.png" %>
      <p> This task is completed!</p>
    <% else  %>
      <%= image_tag "https://img.icons8.com/ios/50/000000/unchecked-checkbox-filled.png"  %>
      <p> This task is not completed!</p>
    <% end %>
</div>
<div class="container">
  <%= link_to "Back to list", tasks_path, class:"btn btn-primary" %>
</div>
